.footer-container {
  background-color: #333333;
  color: ghostwhite;
}
.social-icons a {
  color: ghostwhite;
  text-decoration: none;
}
.social-icons i {
  margin: 1em;
  height: 45px;
  width: 45px;
  font-size: 1.5em;
  border: 1px solid ghostwhite;
  border-radius: 50%;
  padding: .5em;
}
.social-icons i:hover {
  background-color: ghostwhite;
  color: #333333;
}
.copyright {
  margin: 1em 0;
  opacity: 0.5;
}
