/* NOTE: Add background-position: bottom left 
	to the hover state of the apecified element
*/
/* NOTE: Add background-position: bottom right
	to the hover state of the apecified element
*/
.main-container {
  height: 100vh;
  background-color: #16385f;
  color: ghostwhite;
}
.overlay {
  height: 100%;
  width: 100%;
  padding-top: 4em;
  background-color: rgba(52, 59, 66, 0.5);
}
.mini-section {
  border-top: 1px solid ghostwhite;
  background-color: #16385f;
  color: ghostwhite;
  padding: 2em;
}
.mini-section button {
  margin: 1em;
}
.section-button {
  font-size: 1.5em;
  padding: .5em 2em;
  border-radius: 50px;
  background-color: transparent;
  color: ghostwhite;
  border: ghostwhite 1px solid;
  background-image: linear-gradient(to left, transparent 50%, ghostwhite 50%);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.section-button:hover {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  color: #16385f;
  background-position: bottom left;
}
.error-container {
  height: 101vh;
  background-color: #06a9b4;
  color: ghostwhite;
  padding-top: 6em;
  background-image: url('../../assets/images/Custom_404_a.svg');
  background-size: cover;
  background-position: center;
}
.error-container a {
  text-decoration: none;
}
.error-content {
  position: absolute;
  left: 40%;
  bottom: 10%;
}
.error-title {
  font-size: 15em;
}
.error-message {
  font-size: 2em;
  margin-bottom: 1em;
}
.return-button {
  font-size: 1.5em;
  padding: .5em 2em;
  border-radius: 50px;
  background-color: transparent;
  color: ghostwhite;
  border: ghostwhite 3px solid;
  background-image: linear-gradient(to left, transparent 50%, ghostwhite 50%);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.return-button:hover {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  color: #06a9b4;
  background-position: bottom left;
}
