<div class="parallax-section about-parallax bg1 text-center">
  <div class="overlay">
    <div class="main-text">
      <h3>About Me</h3>
      <h1 class="page-title-line">Delve into my mind</h1>
    </div>

  </div>
</div>

<div class="bio text-center about-section main-about">
  <h2>What do I do?</h2>
  <br> I'm Kwan S. Holloway and I'm a Multimedia Developer.
  <p>
    I design and program things like games websites, and more. I also do a lot of Front-End Development, UI/UX work, as well
    as Digital Art.</p>

  <div class="more-section-list">
    <div class="section-button" (click)="toggleNavigationSub('interests', $event)">
      Interests
    </div>
    <div class="section-button" (click)="toggleNavigationSub('motivations', $event)">
      Motivations
    </div>
    <div class="section-button" (click)="toggleNavigationSub('facts', $event)">
      Fun Facts
    </div>

  </div>
</div>

<div class="bio text-center about-section" [ngClass]="{'showing': navigationSubState.interests == 'active'}" [@showSection]="navigationSubState.interests">
  <h2>What interests me?</h2>
  <br>
  <p>Games. That's it. Bye.</p>
  <p>Ok no, but I am in love with video games and am constantly playing them. I also love philosphy, digital art, parkour,
    anime, and music.</p>
  <p>I've got a ton more intetests, but</p>
</div>

<div class="bio text-center about-section" [ngClass]="{'showing': navigationSubState.motivations == 'active'}" [@showSection]="navigationSubState.motivations">
  <h2>What drives me?</h2>
  <br>
  <p>
    I'm driven by a yearning to impact other's lives, whether it be by providing a solution to a problem via a web app, or speaking
    on a panel about my expereince.
  </p>
  <p>
    I'm also motivated by representation. The vast majority of media is portrayed through a certain lens, and it's my goal to
    create more media through new, lesser spoken lenses.
  </p>

  <p>
    And the third thing that drives me is a want to have a fun and interesting life. I want to be creative, design cool sites,
    make fun games, and enjoy life while I'm at it.
  </p>

</div>

<div class="bio text-center about-section" [ngClass]="{'showing': navigationSubState.facts == 'active'}" [@showSection]="navigationSubState.facts">
  <h2>Fun Facts?</h2>
  <br>
  <p>I've taught myself to be fairly ambidextrous. I love Sherlock Holmes.</p>
  <p>I listen to a lot of music in other languages. I write ciphers in order to decode them later.</p>

</div>

<div class="bio text-center about-section footer">
  <!-- erer -->
</div>