@import '../../assets/less/k-styles.less';

.bio-pic{
    .transform(rotate(-90deg));
    img{
        width: 20em;
        height: 20em;
        border-radius: 50%;
    }
}

.bio{
    font-size: 1.5em;
}