.main-container {
  height: 100vh;
  background-color: #293f59;
  color: ghostwhite;
}
.overlay {
  height: 100%;
  padding-top: 4em;
}
.mini-section {
  border-top: 1px solid ghostwhite;
  background-color: #293f59;
  color: ghostwhite;
  padding: 2em;
}
.mini-section button {
  margin: 1em;
}
.section-button {
  font-size: 1.5em;
  padding: .5em 2em;
  border-radius: 50px;
  background-color: transparent;
  color: ghostwhite;
  border: ghostwhite 1px solid;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.section-button:hover {
  background-color: ghostwhite;
  color: #293f59;
}
.bio-pic {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.bio-pic img {
  width: 20em;
  height: 20em;
  border-radius: 50%;
}
.bio {
  font-size: 1.5em;
}
