@import '../../assets/less/k-styles.less';

.bio-pic{
    .transform(rotate(-90deg));
    img{
        width: 20em;
        height: 20em;
        border-radius: 50%;
    }
}

.bio{
    background-color: @dark-blue1;
    color: @white-color;
    font-size: 1.5em;
    padding: 2em 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about-parallax{
    .parallax();
}

.bg1::after {
    background-image: url('../../assets/images/domino2.jpg');
    background-size: cover;
    background-position: center;
}