/* NOTE: Add background-position: bottom left 
	to the hover state of the apecified element
*/
/* NOTE: Add background-position: bottom right
	to the hover state of the apecified element
*/
.page-title {
  font-size: 1.5em;
  font-weight: bold;
}
.landing-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.page-title-line {
  font-size: 6vw;
  font-weight: 500;
}
.page-title-line:before,
.page-title-line:after {
  background-color: ghostwhite;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 8vw;
}
.page-title-line:before {
  right: 0.5em;
  margin-left: -50%;
}
.page-title-line:after {
  left: 0.5em;
  margin-right: -50%;
}
.main-text {
  margin-top: 4em;
  color: ghostwhite;
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
}
.main-container {
  height: 100vh;
  color: ghostwhite;
}
.overlay {
  height: 100%;
  width: 100%;
  padding-top: 4em;
  background-color: rgba(52, 59, 66, 0.25);
}
.mini-section {
  font-weight: 300;
  background-color: #16385f;
  color: ghostwhite;
  padding: 2em;
}
.mini-section button {
  margin: 1em;
}
.mini-section p {
  font-size: 1.5em;
}
.section-button {
  font-size: 1.5em;
  padding: 0.5em 2em;
  border-radius: 50px;
  background-color: transparent;
  color: ghostwhite;
  border: ghostwhite 1px solid;
  background-image: linear-gradient(to left, transparent 50%, ghostwhite 50%);
  background-size: 205% 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.section-button:hover {
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  background-position: bottom left;
}
/* PARALLAX STYLES= */
.parallax-wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
        * 100vh is the full height of the viewport. */
  height: 101vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  /* Enable scrolling on the page. */
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 1px;
}
.parallax-section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 101vh;
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.motion-container {
  display: flex;
  height: 100vh;
}
.left-motion-div,
.right-motion-div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.left-motion-div {
  width: 100%;
  background-color: teal;
  justify-content: flex-start;
  padding-left: 30px;
}
.right-motion-div {
  width: 100%;
  background-color: #a31455;
  justify-content: flex-end;
  padding-right: 30px;
}
/* DIALOG STYLES */
.dialog-header {
  height: 50px;
  background-color: #195C68;
}
@media (max-width: 480px) {
  .page-title {
    font-size: 1em;
  }
  .page-title-line {
    font-size: 8vw;
  }
}
.bio-pic {
  margin: auto 50px auto 0;
}
.bio-pic img {
  width: 215px;
  height: 215px;
  border-radius: 50%;
}
.bio-blurb {
  text-align: left;
}
.bio-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.bio {
  color: ghostwhite;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Move the pseudo-element back away from the camera,
			* then scale it back up to fill the viewport.
			* Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(2);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}
.main-about {
  z-index: -1;
  background-color: #902a2a;
  color: ghostwhite;
  font-weight: 300;
  padding: 2% 15%;
}
.main-about button {
  margin: 1em;
}
.about-section-container {
  background-color: #902a2a;
  height: 100%;
  min-height: 400px;
}
.about-section {
  text-align: left;
  z-index: -1;
  background-color: #902a2a;
  color: ghostwhite;
  font-weight: 300;
  padding: 0 15%;
}
.about-section button {
  margin: 1em;
}
.about-section.showing {
  border-top: 1px solid ghostwhite;
}
.about-section.footer {
  padding: 4%;
  border: none;
}
.more-section-list {
  margin: 1.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-section-list .section-button {
  z-index: 2;
  font-size: 1em;
  margin: 0 1em;
}
.more-section-list .section-button:hover {
  color: #902a2a;
}
.bg1::after {
  background-image: url('../../assets/images/brick_light.jpg');
  background-size: cover;
  background-position: center;
}
@media (max-width: 480px) {
  .bio-container {
    flex-wrap: wrap;
  }
  .more-section-list {
    display: block;
  }
  .section-button {
    margin: 15px 0 !important;
  }
}
