@import '../../assets/less/variables.less';
@import '../../assets/less/mixins.less';
@import '../../assets/less/k-styles.less';


nav{
    width: 100%;
    height: 100px;
    margin-bottom: -7.5em;
    z-index: 4;
    position: relative;
 
    span{
        margin-top: 1em;
        float: right;
        padding: 1.5em;
        .setTransition(.2s);

        //Fade entire Nav on hover, and highlight a selection on focus hover
        &:hover{
            a{
                color: rgba(248,248,255,0.5);
                &:hover{
                    color: rgba(248,248,255,1); 
                }
            }
        }

        a{
            color: @white-color;
            margin: 1em 1em;
            text-transform: uppercase;
            .setTransition(.2s);
            text-decoration: none;
        }
    }
}

.back-to-top{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: @white-color;
    color: @charcoal-color;
    border-radius: 50%;
}

.nav-logo{
    height: 100px;
}

@media (max-width: @screen-xs) {
    nav{
        span{
            float: none;
            padding: 0;
        }
    }
    .nav-logo{
       height: 74px; 
    } 
}