<div class="parallax-section proj-parallax bg-main text-center">
  <div class="overlay">
    <div class="main-text">
      <h3>PROJECTS</h3>
      <h1 class="page-title-line">What I've Done</h1>
    </div>
  </div>
</div>

<div class="projects-section">


  <div class="project-container">

    <div class="proj-div" *ngFor="let proj of projects">
      <img src="{{proj.imgPath}}">
      <!-- <div class="bg-img" [style.background]="'url(' + proj.imgPath + ')'"> -->
        <div class="img-overlay">
          <div class="proj-title proj-bottom">{{proj.title}}</div>
          <div class="proj-summary">
            {{proj.summary}}
          </div>
          <div class="proj-button proj-top">
            <a href="{{proj.url}}" target="_blank" class="section-button">Check it out</a>
          </div>
        </div>
      <!-- </div> -->

    </div>

  </div>

  <!-- <div class="proj-div" *ngFor="let proj of projects; let i = index;">
    <div class="left-panel col-xs-6 bg{{i}}">
      <img src="{{proj.imgPath}}">
    </div>
    <div class="right-panel col-xs-6" [ngClass]="">
      <div class="proj-title proj-bottom">{{proj.title}}</div>
      <div class="proj-button proj-top">
        <a href="{{proj.url}}" target="_blank" class="section-button">Check it out</a>
      </div>
    </div>
  </div> -->


</div>