<div class="parallax-section proj-parallax bg-main text-center">
  <div class="overlay">
    <div class="main-text">
      <h3>PROJECTS</h3>
      <h1 class="page-title-line">What I've Done</h1>
    </div>
  </div>
</div>

<div class="projects-section">


  <div class="project-container">
    <ng-container *ngFor="let proj of projects; let i = index;">
      <div [attr.data-aos]="(i % 2 ==1) ? 'slide-left' : 'slide-right'" data-aos-once="true" class="proj-div col-md-6"
        [ngClass]="{'proj-div-right': (i % 2 == 1)}">
        <img src="{{proj.imgPath}}">
        <!-- <div class="bg-img" [style.background]="'url(' + proj.imgPath + ')'"> -->
        <!-- </div> -->
      </div>
      <div class="col-md-6">
        <div class="img-overlay">
          <div class="proj-title proj-bottom">{{proj.title}}</div>
          <div class="proj-summary">
            {{proj.summary}}
          </div>
          <div class="proj-button proj-top">
            <a href="{{proj.url}}" target="_blank" class="section-button">Check it out</a>
          </div>
        </div>
      </div>
    </ng-container>

  </div>

  <!-- <div class="proj-div" *ngFor="let proj of projects; let i = index;">
    <div class="left-panel col-xs-6 bg{{i}}">
      <img src="{{proj.imgPath}}">
    </div>
    <div class="right-panel col-xs-6" [ngClass]="">
      <div class="proj-title proj-bottom">{{proj.title}}</div>
      <div class="proj-button proj-top">
        <a href="{{proj.url}}" target="_blank" class="section-button">Check it out</a>
      </div>
    </div>
  </div> -->


</div>