@import '../../assets/less/k-styles.less';


.projects-section{
    color: @main-color;
}

.proj-landing{
    background-image: url('../../assets/images/highline_sunset.jpg');
    background-size: cover;
    background-position: center;
}



.proj-parallax{
    .parallax();
}

.bg-proj{
    background-image: url('../../assets/images/highline_sunset.jpg');
    background-size: cover;
    background-position: center;
}

.proj-blurb{
    margin: 30% 15% 0 15%;
    font-size: 2.5rem;
}

.proj-bottom{
    padding-bottom: 20%;
}
.proj-top{
    padding-top: 20%;
}

.proj-title{
    font-size: 2rem;
    margin-top: 30px;
    .setTransition(.5s);
}
.proj-summary{
    padding: 20px 50px 50px 50px;
    font-size: 1.3rem;
    line-height: 30px;
    opacity: 0.85;
}
.proj-button{
    margin-bottom: 1.5rem;
    .setTransition(.5s);

    a{
        text-decoration: none;
        color: @main-color;

        &:hover{
            color: @charcoal-color;
        }
    }

}
.project-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: @slate-gold;
    color: @main-color;
    // mainly to fix aos issue with transform
    overflow-x: hidden;
    
}

.bg-img{
    height: 100%;
    width: 100%;
    opacity: 1;
}

.img-overlay{
    .setTransition(.5s);
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 375px;
    height: 100%;

    //new styles
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(56,56,56, 0.7);

    &:hover{
        opacity: 1;
    }
}


// new styles

.proj-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 7rem 3rem;

    &.proj-item-reverse{
        flex-direction: row-reverse;
    }
}


.proj-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proj-item-summary{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 15px;
    padding: 0 15px;
}

.proj-item-title{
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: 500;
    padding: 15px 0;
}

.proj-img{
    display: flex;
    justify-content: center;

    img{
        height: 350px;
        width: 375px;
        object-fit: cover;
        object-position: top;
    }
}

.proj-tags{
    display: flex;
    flex-wrap: wrap;
}

.proj-tag{
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    padding: 5px 15px;
    margin: 5px;
    background-color: @charcoal-color;
    color: @main-color;
    .setTransition(1s);
}

.art-projects{
    .setTransition(1s);
}

.art-slideshow{
    width: 415px;
    min-height: 415px;
}

@media (max-width: @screen-xs) {
    .proj-button{
        a{
            font-size: 1.5rem;
        }
    }

    .proj-title{
        margin-top: 15px;
    }

    .proj-summary{
        padding: 20px 30px 25px 30px;
        font-size: 1.3rem;
        line-height: 30px;
        opacity: 0.85;
    }

    .project-container{
        .proj-div{
            width: 100%;
            max-width: none;
            max-height: none;
            margin: 0;
            height: 400px;
        }
    }

    
    
    // new styles
    
    .proj-item{
        flex-direction: column;
        padding: 5rem 0;
        
        &.proj-item-reverse{
            flex-direction: column;
        }
    }
    
    .proj-item-title{
        font-size: 4rem;
    }
    
    .proj-img{
        img{
            width: 300px;
            height: 275px;
        }
    }
    .img-overlay{
        width: 300px;
    }
    
    .art-slideshow{
        width: 300px;
        min-height: 275px;
    }

}