@import '../../assets/less/k-styles.less';


.main-proj-container{
    background-color: @dark-blue1;
    color: @white-color;
    padding-top: 7em; // to give space for the navbar
}

.proj-landing{
    background-image: url('../../assets/images/chryssler.jpg');
    background-size: cover;
    background-position: top;
}

.proj-blurb{
    margin: 30% 15% 0 15%;
    font-size: 2.5em;
}

.proj-bottom{
    padding-bottom: 20%;
}
.proj-top{
    padding-top: 20%;
}

.proj-title{
    font-size: 2em;
    margin-bottom: 1.5em;
    .setTransition(.5s);
}
.proj-description{
    font-size: 1em;
    margin-bottom: 1.5em;
    .setTransition(.5s);
}
.proj-button{
    margin-bottom: 1.5em;
    .setTransition(.5s);

    a{
        text-decoration: none;
    }
}
.project-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: @dark-blue1;
    color: @white-color;
    
    .proj-div{
        color: @white-color;
        width: 45%;
        max-width: 400px;
        max-height: 400px;
        margin: 1.5em 1.5em;
        .setTransition(.5s);
        background-color: @overlay-color;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:hover{
            img{
                opacity: 0.3;
            }
            .img-overlay{
                opacity: 1;
                .proj-title, .proj-description, .proj-button{
                    padding: 0;
                    // margin-bottom: 1em;
                }
            }
        }

        img{
            width: 100%;
            height: 100%;
            opacity: 1;
            display: block;
            .setTransition(.5s);
        }

    }
}

.img-overlay{
    .setTransition(.5s);
    opacity: 0;
    position: absolute;
    text-align: center;
}