@import '../../assets/less/k-styles.less';


.art-parallax{
    .parallax();
}

.bg1::after {
    background-image: url('../../assets/images/Old_Futuristic_Cityscape.svg');
    background-size: cover;
    background-position: center;
}