/* NOTE: Add background-position: bottom left 
	to the hover state of the apecified element
*/
/* NOTE: Add background-position: bottom right
	to the hover state of the apecified element
*/
.main-text {
  margin-top: 4em;
  color: ghostwhite;
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
}
.main-container {
  height: 100vh;
  color: ghostwhite;
}
.overlay {
  height: 100%;
  width: 100%;
  padding-top: 4em;
  background-color: rgba(52, 59, 66, 0.3);
}
.mini-section {
  border-top: 1px solid ghostwhite;
  background-color: #16385f;
  color: ghostwhite;
  padding: 2em;
}
.mini-section button {
  margin: 1em;
}
.section-button {
  font-size: 1.5em;
  padding: .5em 2em;
  border-radius: 50px;
  background-color: transparent;
  color: ghostwhite;
  border: ghostwhite 1px solid;
  background-image: linear-gradient(to left, transparent 50%, ghostwhite 50%);
  background-size: 205% 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.section-button:hover {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  color: #16385f;
  background-position: bottom left;
}
/* PARALLAX STYLES= */
.parallax-wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
        * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 1px;
}
.parallax-section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
