@import '../../assets/less/k-styles.less';

.home-container{
    background-image: url('../../assets/images/kwan_la_sqr.jpg');
    background-size: cover;
    background-position: bottom;
}

.overlay{
    padding-top: 4em;
    height: 100%;
    background-color: @overlay-color;
}

.landing-parallax-section {
    .parallax-section();
}

.landing-parallax{
    .parallax();
}

.home-parallax-section{
    .parallax-section(40vh);
}

.home-parallax{
    .parallax(-1px,2);
}


.bg1::after {
    background-image: url('../../assets/images/kwan_la_sqr.jpg');
    background-size: cover;
    background-position: bottom;
}

.bg2::after {
    background-image: url('../../assets/images/bhive_sqr.png');
    background-size: cover;
    background-position: bottom;
}
.bg3::after {
    background-image: url('../../assets/images/Holloway_Final_Proj.svg');
    background-size: cover;
    background-position: bottom;
}