<div class="">
  <div class="landing-section bg1 text-center">
    <div class="overlay">
      <div class="landing-text">
        <div class="main-text">
          <h2 style="font-weight: 200;">Multimedia Developer</h2>
          <h1 class="page-title">Kwan Holloway</h1>
        </div>
      </div>

    </div>
  </div>
  <div class="motion-container" id="id-motion-container" (mousemove)="adjustDivs($event)" (mouseleave)="resetDivs()">
    <div class="left-motion-div" id="id-left-div">
      <div class="overlay" (click)="goToPage('/about')">
        <div class="left-motion-inner">
          <h1>About</h1>
        </div>
      </div>
    </div>
    <div class="right-motion-div" id="id-right-div">
      <div class="overlay" (click)="goToPage('/projects')">
        <div class="right-motion-inner">
          <h1>Projects</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- <div style="background-color: #ab7987;">
    <div class="mini-section row">
      <div class="col-md-6">
        <h4>Hey I'm Kwan! And I'm a Multimedia Developer!
          What does that mean? Well it means that I'm a developer who works in many
          different fields like UI/UX, Game Design and Development, Web Development, and more!</h4>
      </div>
      <div class="col-md-6">
        TEmp
      </div>
    </div>
    <div class="mini-section">
      <h4>Hey I'm Kwan 2 </h4>
    </div>
    <div class="mini-section">
      <h4>Hey I'm Kwan 3 </h4>
    </div>
  </div> -->

  <!-- <div id='go-to-sections'>
    <div class=" mini-section text-center">
      <div data-aos="slide-right" data-aos-once="true" data-aos-delay="150">
        <p>Hey, I'm Kwan! I write code and design things. Click below to learn more!</p>
        <button class="section-button" (click)="goToPage('/about')">
          About
        </button>
      </div>
    </div>

    <div class="mini-section text-center">
      <div data-aos="slide-left" data-aos-once="true">
        <p>I've worked on some cool projects. Check them out!</p>
        <button class="section-button" (click)="goToPage('/projects')">
          Projects
        </button>
      </div>
    </div>

    <div class=" mini-section text-center">
      <div data-aos="slide-right" data-aos-once="true">
        <p>I also make digital art. Take a look!</p>
        <button class="section-button" (click)="goToPage('/artwork')">
          Artwork
        </button>
      </div>
    </div>
  </div> -->


</div>