<div class="">
  <div class="parallax bg1 parallax-section text-center">
    <div class="overlay">
      <br>
      <div class="main-text">
        <h1>Kwan Holloway</h1>
        <h2>Multimedia Developer</h2>
      </div>

    </div>
  </div>

  <div class=" mini-section text-center">
    <h3>Hey! I'm Kwan. I'm a Multimedia Developer.</h3>
    <h3>I write code and design things.</h3>
    <button class="section-button" (click)="goToAbout()">
      About
      <i class="fa fa-long-arrow-right"></i>
    </button>
  </div>

  

  <div class=" mini-section text-center">
    <h3>I've worked on some cool projects. Check them out!</h3>
    <button class="section-button" (click)="goToProjects()">
      Projects
      <i class="fa fa-long-arrow-right"></i>
    </button>
  </div>

  <div class=" mini-section text-center">
    <h3>I also make digital art. Take a look!</h3>
    <button class="section-button" (click)="goToArtwork()">
      Artwork
      <i class="fa fa-long-arrow-right"></i>
    </button>
  </div>
</div>

<div class="parallax bg2 parallax-section text-center">
  <div class="overlay">

  </div>
</div>