@import '../../assets/less/k-styles.less';

.home-container{
    background-image: url('../../assets/images/kwan_la_sqr.jpg');
    background-size: cover;
    background-position: bottom;
}

.landing-parallax-section {
    .parallax-section();
}

.landing-parallax{
    .parallax();
}

.home-parallax-section{
    .parallax-section(40vh);
}

.home-parallax{
    .parallax(-1px,2);
}

.home-main-text{
    position: absolute;
    top: 50px;
    left: 45%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: ghostwhite;
}

.mini-section{
    background-color: @teal-color;
    &:nth-child(odd){
        background-color: @gold-color;
    }
}

.section-button{
    &:hover{
        color: @dark-blue1;
    }
}


.bg1{
    background-image: url('../../assets/images/graffiti-moon.jpg');
    background-size: cover;
    background-position: bottom;
}

.bg3 {
    background-image: url('../../assets/images/Holloway_Final_Proj.svg');
    background-size: cover;
    background-position: bottom;
}


//media queries


@media (max-width: @screen-lg) {
    
}
@media (max-width: @screen-md) {
    
}
@media (max-width: @screen-sm) {
    
}
@media (max-width: @screen-xs) {

}