<div class="">
  <div class="landing-parallax bg1 landing-parallax-section text-center">
    <div class="overlay">
      <br>
      <div class="main-text">
        <h1 class="page-title">Kwan Holloway</h1>
        <h2>Multimedia Developer</h2>
      </div>

    </div>
  </div>

  <div class=" mini-section text-center">
    <p>Hey, I'm Kwan! I write code and design things. Click below to learn more!</p>
    <button class="section-button" (click)="goToPage('/about')">
      About
    </button>
  </div>

  <div class=" mini-section text-center">
    <p>I've worked on some cool projects. Check them out!</p>
    <button class="section-button" (click)="goToPage('/projects')">
      Projects
      
    </button>
  </div>

  <div class=" mini-section text-center">
    <p>I also make digital art. Take a look!</p>
    <button class="section-button" (click)="goToPage('/artwork')">
      Artwork
    </button>
  </div>
  
</div>