/* NOTE: Add background-position: bottom left 
	to the hover state of the apecified element
*/
/* NOTE: Add background-position: bottom right
	to the hover state of the apecified element
*/
.page-title {
  font-size: 72px;
  font-weight: bold;
}
.page-title:before,
.page-title:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 0;
  width: 600px;
}
.main-text {
  margin-top: 4em;
  color: ghostwhite;
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
}
.main-container {
  height: 100vh;
  color: ghostwhite;
}
.overlay {
  height: 100%;
  width: 100%;
  padding-top: 4em;
  background-color: rgba(52, 59, 66, 0.4);
}
.mini-section {
  border-top: 1px solid ghostwhite;
  background-color: #16385f;
  color: ghostwhite;
  padding: 2em;
}
.mini-section button {
  margin: 1em;
}
.section-button {
  font-size: 1.5em;
  padding: .5em 2em;
  border-radius: 50px;
  background-color: transparent;
  color: ghostwhite;
  border: ghostwhite 1px solid;
  background-image: linear-gradient(to left, transparent 50%, ghostwhite 50%);
  background-size: 205% 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.section-button:hover {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  color: #16385f;
  background-position: bottom left;
}
/* PARALLAX STYLES= */
.parallax-wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
        * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 1px;
}
.parallax-section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.home-container {
  background-image: url('../../assets/images/kwan_la_sqr.jpg');
  background-size: cover;
  background-position: bottom;
}
.overlay {
  padding-top: 4em;
  height: 100%;
  background-color: rgba(52, 59, 66, 0.4);
}
.landing-parallax-section {
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  /* For text formatting. */
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.landing-parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Move the pseudo-element back away from the camera,
			* then scale it back up to fill the viewport.
			* Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(2);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}
.home-parallax-section {
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 40vh;
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.home-parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Move the pseudo-element back away from the camera,
			* then scale it back up to fill the viewport.
			* Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(2);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}
.bg1::after {
  background-image: url('../../assets/images/kwan_la_sqr.jpg');
  background-size: cover;
  background-position: bottom;
}
.bg2::after {
  background-image: url('../../assets/images/bhive_sqr.png');
  background-size: cover;
  background-position: bottom;
}
.bg3::after {
  background-image: url('../../assets/images/Holloway_Final_Proj.svg');
  background-size: cover;
  background-position: bottom;
}
